[Unit]
Description=periodic-audit timer

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h
Unit=periodic-audit.service

[Install]
WantedBy=timers.target
