name: Build and test

on:
  push:
  pull_request:
  workflow_dispatch:

env: 
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  main:
    name: Main
    strategy:
      matrix:
        toolchain:
          - name: msrv
            version: 1.88
          - name: latest
            version: 1.93
        os:
          - name: linux
            version: ubuntu-latest
          - name: windows
            version: windows-latest
          - name: macos
            version: macos-latest
    runs-on: ${{ matrix.os.version }}

    steps:
      - uses: actions/checkout@v6

      - name: Cache Rust
        uses: actions/cache@v5
        with:
          path: ~/.rustup
          key: rustup-${{ matrix.os.version }}-${{ matrix.toolchain.version }}
      - name: Cache Cargo
        uses: actions/cache@v5
        with:
          path: ~/.cargo
          key: cargo-${{ matrix.os.version }}-${{ matrix.toolchain.version }}

      # Install toolchain
      - run: rustup update ${{ matrix.toolchain.version }}
      - run: rustup default ${{ matrix.toolchain.version }}
      - if: matrix.os.name == 'linux' && matrix.toolchain.name == 'latest'
        run: rustup component add clippy

      # Build
      - if: matrix.os.name != 'windows'
        run: cargo build
      - if: matrix.os.name == 'windows'
        run: cargo build --release

      # Linting
      - if: matrix.os.name == 'linux' && matrix.toolchain.name == 'latest'
        run: cargo clippy -- --deny warnings
      - if: matrix.os.name == 'linux' && matrix.toolchain.name == 'latest'
        run: cargo clippy --tests -- --deny warnings

      # Tests
      - if: matrix.os.name != 'windows'
        run: cargo test

# vim: ts=2 sw=2 expandtab
